.list_li {
    list-style:none;
    display: flex;
}

p {
    margin: 0 0 0 0;
}

.list_check {
    flex: 0 0 2%;
}

.list_name {
    flex: 0 0 80%;
}

.list_delete {
    
}

.list_name_complete {
    text-decoration: line-through;
    color: gray;
}